[MONITOR]
;监控的进程, process_alias=> process_path
udm_rental = c:/ubkiosk/UDM_Rental.exe
udm_controller = c:/ubkiosk/UDM_Controller.exe

;监控间隔
monitor_interval = 10

;部署时修改此配置
server = http://monitor.dev.unibox.com.cn
